* {
    font-family: 'Inter', sans-serif;
}

*, body {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
    background-color: #2E424D;
    color: #EAEBED; /* #53D2DB */
}

.header {
    height: 10%;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header h1 span {
    color: #98DAD9;
}

.header a {
    color: #EAEBED;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.content {
    padding: 10px 30px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content form {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.button {
    color: #5B8291;
    font-weight: 600;
    margin: 30px;
    background-color: #98DAD9   ;
    border-radius: 8px;
    width: 150px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    color: #EAEBED;
    background-color: #5B8291;
}