<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/demo.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <title>Demo</title>
</head>
<body>
    <main>
        <div class="header">
            <h1>Model<span>HUB</span></h1>
            
            <a href="https://github.com/MHaurel/flask-deploy-model" target="_blank"> 
                <p>About</p>
            </a>
        </div>

        <div class="content">
            <p>This is a demo of a stroke prediction model.</p>
            <p>You can use some rest APIs to query it.</p>

            <form action="/query-demo" method="post">
                <label for="">Gender</label>
                <select name="gender" id="" required>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Other">Other</option>
                </select>

                <label for="">Age</label>
                <input type="number" name="age" min="0" max="120" required>

                <label for="">Hypertension</label>
                <select name="hypertension" id="" required>
                    <option value=0>No</option>
                    <option value=1>Yes</option>
                </select>

                <label for="">Heart disease</label>
                <select name="heart_disease" id="" required>
                    <option value=0>No</option>
                    <option value=1>Yes</option>
                </select>

                <label for="">Ever married</label>
                <select name="ever_married" id="" required>
                    <option value="No">No</option>
                    <option value="Yes">Yes</option>
                </select>

                <label for="">Work type</label>
                <select name="work_type" id="" required>
                    <option value="Private">Private</option>
                    <option value="Self-employed">Self-employed</option>
                    <option value="Govt_job">Govt_job</option>
                    <option value="children">children</option>
                    <option value="Never_worked">Never_worked</option>
                </select>

                <label for="">Residence type</label>
                <select name="Residence_type" id="" required>
                    <option value="Urban">Urban</option>
                    <option value="Rural">Rural</option>
                </select>

                <label for="">Average glucose level</label>
                <input type="number" name="avg_glucose_level" step="0.01" min="0" required>

                <label for="">BMI</label>
                <input type="number" name="bmi" step="0.01" min="0" required>

                <label for="">Smoking status</label>
                <select name="smoking_status" id="" required>
                    <option value="formerly smoked">Formerly Smoked</option>
                    <option value="never smoked">Never smoked</option>
                    <option value="smokes">Smokes</option>
                    <option value="Unknown">Unknown</option>
                </select>

                <input type="submit" value="Submit">

            </form>
        </div>

        <!-- Dependent variables of stroke prediction model are 
            gender (male/female)
            age (float)
            hypertension (1 or 0)
            heart_disease (1 or 0)
            ever_married (yes or no)
            work_type (Private, Self-employed, Govt_job, children, Never_worked)
            Residence_type (Urban or Rural)
            avg_glucose_level (float)
            bmi (float)
            smoking_status ('formerly smoked', 'never smoked', 'smokes', 'Unknown')
         -->
    </main>
</body>
</html>