<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <main>
        <div class="header">
            <h1>Model<span>HUB</span></h1>
            
            <!-- Should send user to github repo -->
            <a href="#"> 
                <p>About</p>
            </a>
        </div>

        <div class="content">
            <div>
                <h2>Here is a Flask demo and generic repo for you to deploy easily your new model(s)</h2>
                <div class="button">
                    Explore now !
                </div>
            </div>
        </div>
    </main>
</body>
</html>