<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/query_demo.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap" rel="stylesheet">
    <title>Demo</title>
</head>
<body>
    <main>
        <div class="header">
            <h1>Model<span>HUB</span></h1>
            
            <a href="https://github.com/MHaurel/flask-deploy-model" target="_blank"> 
                <p>About</p>
            </a>
        </div>

        <div class="content">
            <div class="form-summary">
                {% if form %}
                <ul>
                {% for x in form %}
                    <li>{{ x }} - {{ form[x] }}</li>
                {% endfor %}
                </ul>

                {% else %}
                <p>No form</p>
                {% endif %}
            </div>

            <div class="prediction">
                {% if prediction %}
                    <h2>Are you likely to having a stroke ?</h2>
                    <p>{{ prediction }}</p>
                {% else %}
                    <p>No prediction could be computed !</p>
                {% endif %}
            </div>
        </div>

    </main>
</body>
</html>

